<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 style="margin-top:10px;"><b>Tweet Analyzer</b> === tvitaj.ga</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">
                                <button
                                  style="float:right"
                                  class="btn btn-primary btn-lg"
                                  ng-click="StartAnalyze()">
                                    Analyze <span class="glyphicon glyphicon-play"></span>
                                </button>

                                <button
                                  style="float:right; margin-right:5px"
                                  class="btn btn-danger btn-lg"
                                  ng-click="ResetAnalyze()"
                                  ng-show="analyzeInProgress == false">
                                    <span class="glyphicon glyphicon-backward"></span>
                                </button>

                                <label>
                                  <h3 style="margin-top:0px;">Select Twitter sources!</h3>
                                  <h4>
                                    Validation status:
                                    <span ng-show="isValid" class="alert alert-success alert-inline">OK</span>
                                    <span ng-show="!isValid" class="alert alert-danger alert-inline">Not OK</span>
                                  </h4>
                                </label>

                                <table class="table table-condensed table-hover">
                                  <thead>
                                    <tr>
                                      <th>No.</th>
                                      <th>Source</th>
                                      <th colspan="2">How many</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="source in model.sources" >
                                      <td>{{$index + 1}}</td>
                                      <td ng-class="{'has-error':!source.title}">
                                        <input type="text"
                                          ng-trim="true"
                                          ng-required="true"
                                          ng-minlength="2"
                                          ng-keyup="CheckValidation()"
                                          ng-model="source.title"
                                          ng-pattern="/^[@#].*$/"
                                          class="form-control"
                                          placeholder="@username OR #hashtag">
                                      </td>
                                      <td style="width:150px" ng-class="{'has-error':!source.howMany}">
                                        <input type="number"
                                        min="0"
                                        max="200"
                                        ng-required="true"
                                        ng-model="source.howMany"
                                        ng-pattern="/^[0-9]+$/"
                                        ng-keyup="CheckValidation()"
                                        class="form-control"
                                        placeholder="INTEGER" >
                                      </td>
                                      <td>
                                        <span
                                          style="cursor:pointer"
                                          class="glyphicon glyphicon-remove"
                                          ng-click="RemoveSource(source)"></span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td colspan="3">
                                        <button class="btn btn-primary btn-block" ng-click="AddNewSource(); CheckValidation()">Add new source!</button>
                                      </td>
                                    </tr>
                                  </tbody>
                                  <tfoot>
                                    <tr>
                                      <td></td>
                                      <td>* source can be "@username" or "#hashtag"</td>
                                      <td>* how many tweets per one source</td>
                                    </tr>
                                  </tfoot>
                                </table>

                                <div ng-show="analyzeInProgress == false" >
                                  <h3><b>Analyzer results</b> - Tweets per Class</h3>
                                  <highchart id="chartMain" config="chartConfig" style="width:100%" class=""></highchart>
                                </div>


                            </div>

                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    <div class="col-lg-6">

                        <div ng-show="analyzeInProgress == null">
                          <h2 align="center">
                              Select Twitter sources
                              <br>
                              and click on "Analyze"!
                          </h2>
                        </div>

                        <div ng-show="analyzeInProgress">
                            <h2 align="center">
                              Analyze in progress!
                              <br>
                              Wait for several seconds...
                              <br>
                              <img src="images/loader1.gif">
                              <img src="images/loader2.gif">
                            </h2>
                        </div>

                        <div ng-show="analyzeInProgress == false" >
                          <h3 style="margin-top:0px;">Fetched tweets from selected sources:</h3>
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>No.</th>
                                <th>Text</th>
                                <th style="width:120px;" >
                                  <button
                                    ng-click="tableFetchedTweets=false"
                                    ng-show="tableFetchedTweets" class="btn btn-block btn-warning" >Hide tweets</button>
                                  <button
                                    ng-click="tableFetchedTweets=true"
                                    ng-show="!tableFetchedTweets && model.tweets.length > 0" class="btn btn-block btn-success" >Show tweets</button>
                                </th>
                              </tr>
                            </thead>
                            <tbody ng-show="tableFetchedTweets">
                              <tr ng-repeat="tweet in model.tweets" >
                                <td>{{$index + 1}}</td>
                                <td colspan="2">{{tweet.tweet_text}}</td>
                              </tr>
                            </tbody>
                            <tbody ng-show="!tableFetchedTweets">
                              <tr>
                                <td colspan="3">
                                  <b>{{model.tweets.length}}</b> tweets hidden.
                                </td>
                              </tr>
                            </tbody>
                          </table>

                          <h3 style="margin-top:0px;">Analyzed tweets:</h3>
                          <h4><b>Choose analyze algorithm:</b></h4>
                          <div class="form-group" >
                            <span ng-repeat="algorithm in model.analyzeAlgorithms" >

                                <input type="radio"
                                  ng-model="model.analyzeAlgorithm"
                                  name="model.analyzeAlgorithm"
                                  ng-value="algorithm.value"
                                  ng-change="RefreshGraph()"
                                  >
                                  <span style="margin-left:5px; margin-right:5px;" >{{algorithm.title}}</span>

                            </span>
                          </div>


                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>No.</th>
                                <th>Class</th>
                                <th>Text</th>
                                <th style="width:120px;">
                                  <button
                                    ng-click="tableAnalyzedTweets=true"
                                    ng-show="!tableAnalyzedTweets" class="btn btn-block btn-warning" >Hide tweets</button>
                                  <button
                                    ng-click="tableAnalyzedTweets=false"
                                    ng-show="tableAnalyzedTweets  && model.tweets.length > 0" class="btn btn-block btn-success" >Show tweets</button>
                                </th>
                              </tr>
                            </thead>
                            <tbody ng-show="!tableAnalyzedTweets">
                              <tr ng-repeat="tweet in model.tweets" >
                                <td>{{$index + 1}}</td>
                                <td>{{model.classes[tweet.class_id[model.analyzeAlgorithm]]}}</td>
                                <td colspan="2">{{tweet.tweet_text}}</td>
                              </tr>
                            </tbody>
                            <tbody ng-show="tableAnalyzedTweets">
                              <tr>
                                <td colspan="4">
                                  <b>{{model.tweets.length}}</b> tweets hidden.
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
